@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

/* 
  GLOBAL
*/
:root {
  font-size: 18px;
}

body {
  background-color: #9effee;
  font-family: 'Source Sans Pro', sans-serif;
}

/* COLORS */
.a11y_1_text_red {color: #d30348;}
.a11y_1_bg_red {background-color: #d30348;}
.a11y_1_text_seagreen_ {color: #9effee;}
.a11y_1_bg_seagreen_ {background-color: #9effee;}

/* TYPOGRAPHY */
h1,h2,h3,h4,h5,h6 {
  font-family: 'Bree Serif', serif;
}
h1,h2 {text-transform: uppercase;}
h1 { font-size: clamp(9vw,12vw,36px); }
h2 { font-size: clamp(30px,10vw,48px); }

a {
  color: black;
  text-decoration: underline;
  transition: 0.3s;
}
a:hover {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

div.dash-debug-menu,
div.dash-debug-menu__outer
div.dash-debug-menu__outer--closed,
div.dash-debug-menu__content {
  display: none;
}

/* SIZING */

/* container (%) widths */
.max_width__per_100 {max-width: 100%;}
.max_width__per_90 {max-width: 90%;}
.max_width__per_80 {max-width: 80%;}
.max_width__per_70 {max-width: 70%;}
.max_width__per_60 {max-width: 60%;}
.max_width__per_50 {max-width: 50%;}

/* viewport widths */
.max_width__vw_100 {max-width: 100vw;}
.max_width__vw_90 {max-width: 90vw;}
.max_width__vw_80 {max-width: 80vw;}
.max_width__vw_70 {max-width: 70vw;}
.max_width__vw_60 {max-width: 60vw;}
.max_width__vw_50 {max-width: 50vw;}

/* SPACING */

h2,h3,h4 { margin: 2rem 0; }
p, ul, ol {
  margin: 2rem 0;
  line-height: 1.5;
}
ul ul, ol ol { margin: 0.5rem 0; }

/* HEADER */

header {
  display: flex;
  align-items: center;
  padding: 1em;
}
#header_banner {
  display: flex;
  max-width: 980px;
  gap: 10px;
}
#header_banner img {
  border-radius: 50%;
}
#header_banner img.banner_logo_not_home {
  width: 200px;
}
#header_banner h2,
#header_banner p {
  text-align: left;
}

/* Navigation */
nav#main_nav {
  background-color: #d30348 !important;
  color: #9effee !important;
  margin: 0 -15px;
}
.navbar-collapse {
  font-weight: bold;
  font-size: 1.2em;
}
div[role="menu"].dropdown-menu {
  background-color: #9dffee;
  border: 1px solid rgb(211 2 72) !important;
  border-radius: 0.15rem !important;
  box-shadow: 2px -1px 1px 1px #d30248;
}
div[role="menu"].dropdown-menu a {
  color: #d30348;
}
div[role="menu"].dropdown-menu a:hover {
  background-color: #d30348;
  color: #9effee !important;
  box-shadow: 1px 2px 2px 1px #80d1c3;
}
.navbar-dark .navbar-brand {
  color: #9effee !important;
}
a.dropdown-toggle.nav-link {
  color: #9effee !important;
}

/* MAIN CONTENT */
#_pages_content {
  color: #d30348;
}

/* FIGURES */
.plot-container {
  background: rgb(157 255 238) !important;
  border-bottom: 1px solid #d30248;
}

/* TABLES */
th {
  font-size: 1.15em;
  font-weight: bold !important;
  text-align: center !important;
}

/* DEBUG MENU */
.dash-debug-menu__outer.dash-debug-menu__outer--closed,
.dash-debug-menu__outer {
  display: none;
}